In [83]:
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
import gc
gc.collect()

0

In [ ]:
tf.config.list_physical_devices('GPU')
tf.test.is_built_with_cuda()
tf.test.is_gpu_available()

WARNING:tensorflow:From C:\Users\aibak\AppData\Local\Temp\ipykernel_10836\2871727636.py:3: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.

False

In [42]:
df = pd.read_csv('../../data/raw/flights.csv')
df

C:\Users\aibak\AppData\Local\Temp\ipykernel_10836\3755695766.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/raw/flights.csv')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [44]:
df.shape

(5819079, 31)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [46]:
df.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [47]:
df.duplicated().sum()

np.int64(0)

In [48]:
df.isnull().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [49]:
df.drop(columns=['CANCELLATION_REASON', "AIR_SYSTEM_DELAY", "SECURITY_DELAY", "AIRLINE_DELAY", "LATE_AIRCRAFT_DELAY", "WEATHER_DELAY"], inplace=True, axis=1)
df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,298.0,272.0,2611,749.0,4.0,819,753.0,-26.0,0,0
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,215.0,195.0,1617,427.0,3.0,446,430.0,-16.0,0,0
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,222.0,197.0,1598,424.0,8.0,440,432.0,-8.0,0,0
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,157.0,144.0,1189,327.0,3.0,340,330.0,-10.0,0,0
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,208.0,189.0,1576,437.0,5.0,440,442.0,2.0,0,0

In [50]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0

In [51]:
df.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
FLIGHT_NUMBER               0
TAIL_NUMBER             14721
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME          86153
DEPARTURE_DELAY         86153
TAXI_OUT                89047
WHEELS_OFF              89047
SCHEDULED_TIME              6
ELAPSED_TIME           105071
AIR_TIME               105071
DISTANCE                    0
WHEELS_ON               92513
TAXI_IN                 92513
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME            92513
ARRIVAL_DELAY          105071
DIVERTED                    0
CANCELLED                   0
dtype: int64

In [52]:
df.drop_duplicates(inplace=True)
df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,298.0,272.0,2611,749.0,4.0,819,753.0,-26.0,0,0
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,215.0,195.0,1617,427.0,3.0,446,430.0,-16.0,0,0
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,222.0,197.0,1598,424.0,8.0,440,432.0,-8.0,0,0
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,157.0,144.0,1189,327.0,3.0,340,330.0,-10.0,0,0
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,208.0,189.0,1576,437.0,5.0,440,442.0,2.0,0,0

In [53]:
df.dropna(inplace=True)
df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,298.0,272.0,2611,749.0,4.0,819,753.0,-26.0,0,0
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,215.0,195.0,1617,427.0,3.0,446,430.0,-16.0,0,0
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,222.0,197.0,1598,424.0,8.0,440,432.0,-8.0,0,0
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,157.0,144.0,1189,327.0,3.0,340,330.0,-10.0,0,0
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,208.0,189.0,1576,437.0,5.0,440,442.0,2.0,0,0

In [54]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED'],
      dtype='object')

In [55]:
# Dropping some useless columns
Ids = ["FLIGHT_NUMBER", "TAIL_NUMBER", "YEAR"]
df.drop(columns=Ids, inplace=True, axis=1, errors='ignore')

# Dropping some Unique Columns
uniqueCols = ["CANCELLED","DIVERTED"]
df.drop(columns=uniqueCols, inplace=True, axis=1, errors='ignore')

In [56]:
# Some Targets that we are not interested in 
targets = ["ELAPSED_TIME", "AIR_TIME", "WHEELS_ON","WHEELS_OFF","TAXI_IN","TAXI_OUT","ARRIVAL_TIME"]
df.drop(columns=targets, inplace=True, axis=1, errors='ignore')

In [57]:
df

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
0,1,1,4,AS,ANC,SEA,5,2354.0,-11.0,205.0,1448,430,-22.0
1,1,1,4,AA,LAX,PBI,10,2.0,-8.0,280.0,2330,750,-9.0
2,1,1,4,US,SFO,CLT,20,18.0,-2.0,286.0,2296,806,5.0
3,1,1,4,AA,LAX,MIA,20,15.0,-5.0,285.0,2342,805,-9.0
4,1,1,4,AS,SEA,ANC,25,24.0,-1.0,235.0,1448,320,-21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,12,31,4,B6,LAX,BOS,2359,2355.0,-4.0,320.0,2611,819,-26.0
5819075,12,31,4,B6,JFK,PSE,2359,2355.0,-4.0,227.0,1617,446,-16.0
5819076,12,31,4,B6,JFK,SJU,2359,2350.0,-9.0,221.0,1598,440,-8.0
5819077,12,31,4,B6,MCO,SJU,2359,2353.0,-6.0,161.0,1189,340,-10.0
5819078,12,31,4,B6,JFK,BQN,2359,14.0,15.0,221.0,1576,440,2.0

In [58]:
# Now all this columns should be usefull for our prediction but let us sarve first the data processed
df.to_csv('../../data/processed/flights_processed.csv', index=False)

In [59]:
df.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'SCHEDULED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_DELAY'],
      dtype='object')

## Feature Engineering Mode and outlier adjusting

In [60]:
df = pd.get_dummies(df, columns=['AIRLINE'], drop_first=True)
df

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,...,AIRLINE_EV,AIRLINE_F9,AIRLINE_HA,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_US,AIRLINE_VX,AIRLINE_WN
0,1,1,4,ANC,SEA,5,2354.0,-11.0,205.0,1448,...,False,False,False,False,False,False,False,False,False,False
1,1,1,4,LAX,PBI,10,2.0,-8.0,280.0,2330,...,False,False,False,False,False,False,False,False,False,False
2,1,1,4,SFO,CLT,20,18.0,-2.0,286.0,2296,...,False,False,False,False,False,False,False,True,False,False
3,1,1,4,LAX,MIA,20,15.0,-5.0,285.0,2342,...,False,False,False,False,False,False,False,False,False,False
4,1,1,4,SEA,ANC,25,24.0,-1.0,235.0,1448,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,12,31,4,LAX,BOS,2359,2355.0,-4.0,320.0,2611,...,False,False,False,False,False,False,False,False,False,False
5819075,12,31,4,JFK,PSE,2359,2355.0,-4.0,227.0,1617,...,False,False,False,False,False,False,False,False,False,False
5819076,12,31,4,JFK,SJU,2359,2350.0,-9.0,221.0,1598,...,False,False,False,False,False,False,False,False,False,False
5819077,12,31,4,MCO,SJU,2359,2353.0,-6.0,161.0,1189,...,False,False,False,False,False,False,False,False,False,False
5819078,12,31,4,JFK,BQN,2359,14.0,15.0,221.0,1576,...,False,False,False,False,False,False,False,False,False,False

In [61]:
airportData = pd.read_csv('../../data/raw/airports.csv')
airportData

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [62]:
for i in airportData.columns:
    print(i, airportData[i].nunique())

IATA_CODE 322
AIRPORT 322
CITY 308
STATE 54
COUNTRY 1
LATITUDE 319
LONGITUDE 319

In [63]:
airportData['STATE'] = airportData['STATE'].astype('category').cat.codes
airportData['CITY'] = airportData['CITY'].astype('category').cat.codes
airportData

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,9,39,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,1,45,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,7,33,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,0,43,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,6,10,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,305,0,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,296,27,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,97,2,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,306,0,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,307,4,USA,32.65658,-114.60597

In [64]:
df["ORIGIN_AIRPORT"].nunique()

929

In [65]:
df["ORIGIN_AIRPORT"].unique()

array(['ANC', 'LAX', 'SFO', 'SEA', 'LAS', 'DEN', 'SLC', 'PDX', 'FAI',
       'MSP', 'PHX', 'SJU', 'PBG', 'IAG', 'PSE', 'BQN', 'ORD', 'GEG',
       'HNL', 'ONT', 'MCO', 'BOS', 'HIB', 'ABR', 'DFW', 'MKE', 'IAH',
       'BNA', 'BRO', 'VPS', 'BOI', 'BJI', 'PHL', 'SBN', 'EUG', 'IAD',
       'BUF', 'PWM', 'JFK', 'CRP', 'PIA', 'FAT', 'SMF', 'AUS', 'MCI',
       'ATL', 'JAX', 'MFR', 'IDA', 'MSN', 'DCA', 'SAT', 'CHS', 'SBA',
       'IND', 'CLE', 'GSP', 'BDL', 'RIC', 'BFL', 'OMA', 'RDM', 'FLL',
       'CID', 'TPA', 'SYR', 'ROC', 'TYR', 'LAN', 'GSO', 'EWR', 'PBI',
       'RSW', 'OAK', 'PVD', 'RNO', 'PIT', 'ABQ', 'MIA', 'BWI', 'TUL',
       'LGA', 'LIT', 'MSY', 'OKC', 'ATW', 'PNS', 'MEM', 'TYS', 'MHT',
       'SAV', 'CLT', 'GRB', 'ABE', 'JAN', 'OAJ', 'FAR', 'ERI', 'LEX',
       'CWA', 'TTN', 'RDU', 'CVG', 'BHM', 'ACY', 'DTW', 'RAP', 'TUS',
       'EAU', 'DLH', 'FSD', 'INL', 'SPI', 'CLD', 'COD', 'CMH', 'PSC',
       'CPR', 'ACV', 'DAL', 'PAH', 'MRY', 'ESC', 'ISN', 'PSP', 'CAE',
       'STL', 'BTV', 'MTJ', 'GCC', 'OGG', 'SJC', 'GUC', 'ORF', 'MOT',
       'MLU', 'KOA', 'HOU', 'MOB', 'SAN', 'LAW', 'PIB', 'MGM', 'SBP',
       'COS', 'LAR', 'DRO', 'BIS', 'ITO', 'BTR', 'HLN', 'BZN', 'MDW',
       'MDT', 'SCE', 'LIH', 'TWF', 'BPT', 'GPT', 'STC', 'HPN', 'MLB',
       'PLN', 'CIU', 'CAK', 'DSM', 'BLI', 'SHV', 'SNA', 'ALB', 'LNK',
       'CMI', 'GTF', 'EKO', 'LGB', 'AVL', 'HSV', 'XNA', 'SUX', 'HYS',
       'MFE', 'ISP', 'BUR', 'DAB', 'DAY', 'LFT', 'LBE', 'ASE', 'GUM',
       'TVC', 'ALO', 'TLH', 'ELP', 'MHK', 'IMT', 'JNU', 'JAC', 'MEI',
       'DBQ', 'GNV', 'BRD', 'DIK', 'SDF', 'LBB', 'AVP', 'SGF', 'COU',
       'BTM', 'ELM', 'RKS', 'PIH', 'SUN', 'LWS', 'VEL', 'STT', 'SAF',
       'YUM', 'FCA', 'GRR', 'HDN', 'ROA', 'CHA', 'EYW', 'MYR', 'CRW',
       'MQT', 'CHO', 'GJT', 'FWA', 'ECP', 'EVV', 'MSO', 'EGE', 'AMA',
       'MLI', 'MBS', 'GFK', 'GRK', 'BIL', 'OTZ', 'KTN', 'STX', 'ILM',
       'PUB', 'RHI', 'CDC', 'HRL', 'SCC', 'FNT', 'LSE', 'MMH', 'ACT',
       'FSM', 'AGS', 'CEC', 'ICT', 'AEX', 'DHN', 'LRD', 'WRG', 'PHF',
       'CNY', 'BRW', 'GGG', 'AZO', 'CLL', 'SRQ', 'ORH', 'FLG', 'TRI',
       'VLD', 'SIT', 'BQK', 'BMI', 'PSG', 'FAY', 'MKG', 'CSG', 'MAF',
       'EWN', 'OME', 'CMX', 'JMS', 'SGU', 'RST', 'GTR', 'BET', 'TOL',
       'APN', 'SMX', 'LCH', 'RDD', 'GCK', 'DVL', 'GRI', 'ABY', 'SWF',
       'ILG', 'JLN', 'ADK', 'UST', 'TXK', 'SPS', 'ABI', 'YAK', 'SJT',
       'CDV', 'OTH', 'ADQ', 'PPG', 'ROW', 'HOB', 'BGM', 'BGR', 'ITH',
       'ACK', 'MVY', 'WYS', 'DLG', 'AKN', 'GST', 'HYA', '14747', '14771',
       '12889', '12892', '14869', '10299', '11292', '14107', '11630',
       '10732', '14254', '10141', '10627', '11982', '12173', '13930',
       '14683', '12266', '11618', '10721', '13487', '11884', '15919',
       '13851', '11111', '10693', '12191', '14783', '15016', '14487',
       '10423', '15370', '11953', '13891', '15376', '11778', '11278',
       '14100', '13204', '15304', '11637', '14842', '10155', '11775',
       '11298', '11057', '13931', '10821', '14122', '11049', '10990',
       '10631', '13158', '14108', '13198', '11447', '12206', '13495',
       '14057', '15624', '10747', '15411', '12891', '10994', '13256',
       '10792', '14492', '12451', '13127', '10781', '14960', '12278',
       '14685', '11995', '13485', '11977', '10257', '13796', '13232',
       '13296', '14570', '14893', '14524', '12217', '10713', '10208',
       '10136', '11603', '14689', '11471', '11315', '13264', '12478',
       '14814', '11308', '11066', '12896', '10397', '14307', '11721',
       '11140', '10185', '13277', '11203', '13342', '11433', '11697',
       '12953', '10599', '12156', '14952', '10620', '11042', '15096',
       '10408', '15249', '11423', '12915', '12264', '12339', '10140',
       '13871', '14027', '13244', '11267', '11540', '14576', '10868',
       '13486', '13476', '14489', '12945', '15607', '10529', '11986',
       '14635', '13303', '10785', '15380', '11996', '10561', '10874',
       '13367', '10146', '10431', '11973', '10980', '12197', '14098',
       '12323', '10577', '11150', '10135', '11617', '13795', '13029',
       '11003', '11146', '11577', '15356', '11259', '10279', '14321',
       '14843', '11638', '14828', '11481', '12951', '10434', '12448',
       '14730', '15323', '14252', '11193', '10849', '14193', '14986',
       '11641', '12992', '13422', '11612', '11823', '11980', '13290',
       '10158', '10685', '13377', '11109', '11076', '11122', '11865',
       '14543', '14905', '11587', '14457', '12335', '12343', '12003',
       '10157', '12884', '14633', '15048', '10268', '15295', '12389',
       '11525', '14262', '12888', '12391', '11648', '14696', '12758',
       '13830', '10469', '15412', '10731', '14679', '14831', '11413',
       '13433', '12982', '11867', '14698', '11537', '15389', '12402',
       '11337', '13360', '13076', '14006', '10728', '15401', '13230',
       '12016', '11067', '11274', '11921', '12519', '11013', '10779',
       '14150', '14794', '12511', '12177', '12523', '14908', '12007',
       '14588', '13577', '13061', '15041', '14109', '10800', '12954',
       '12441', '12898', '16218', '14113', '11624', '11503', '10739',
       '14574', '14711', '12129', '15070', '14520', '13184', '11252',
       '12280', '13241', '11898', '15024', '14674', '10551', '12819',
       '13459', '10581', '13970', '10372', '10918', '14709', '12255',
       11267, 12266, 10821, 14771, 11433, 11982, 11905, 15411, 14679,
       14108, 10397, 13871, 11618, 14574, 10423, 11259, 11140, 12191,
       12889, 13198, 10529, 10693, 13232, 11540, 14570, 14635, 14831,
       11298, 13204, 11278, 14100, 12892, 12478, 13930, 15304, 14107,
       12523, 12954, 11697, 14057, 12339, 13487, 14893, 11986, 11292,
       14576, 15370, 12402, 14908, 12953, 12758, 15016, 10721, 12264,
       10685, 11612, 13277, 11057, 12891, 12197, 11193, 10800, 13495,
       13891, 13244, 14843, 14747, 11996, 10333, 14262, 11695, 13342,
       14698, 10431, 15376, 12451, 14524, 13830, 13796, 14122, 14960,
       16218, 10713, 11066, 10208, 14683, 14869, 14492, 11638, 11413,
       10792, 10408, 14689, 10980, 14952, 12951, 15323, 11884, 14307,
       14730, 14783, 11603, 11977, 11921, 13577, 13061, 13851, 11042,
       12448, 12992, 10874, 12896, 11308, 12173, 12206, 13377, 10747,
       13256, 13303, 10185, 10599, 10140, 15295, 11898, 13795, 10728,
       10994, 12391, 10299, 12217, 13290, 12007, 11109, 15096, 10627,
       13433, 15249, 12278, 12915, 11637, 13931, 13485, 11721, 11775,
       13476, 15841, 14027, 15380, 12945, 11315, 15919, 13360, 10868,
       14986, 12982, 10279, 11150, 13264, 14193, 11823, 13367, 10469,
       11423, 11337, 11252, 13029, 14696, 11049, 13296, 14685, 13158,
       12323, 10257, 14588, 11274, 13344, 13933, 15412, 13422, 11146,
       15991, 13230, 14794, 11003, 14828, 10781, 10990, 10785, 10434,
       14457, 11481, 11537, 10136, 14814, 10754, 10135, 10731, 13127,
       14321, 10849, 14098, 10146, 15607, 11624, 12177, 10158, 12884,
       15624, 14256, 11973, 14842, 15356, 10561, 14113, 15389, 14489,
       12094, 12888, 13076, 12129, 13873, 10157, 11995, 10631, 12441,
       12343, 14252, 11097, 10732, 10154, 11122, 11641, 13486, 12003,
       10620, 10779, 12335, 11076, 15041, 12156, 12280, 10926, 12819,
       11865, 12519, 11778, 10551, 12389, 11953, 12898, 15024, 10155,
       11013, 10372, 11587, 13964, 11980, 11630, 11648, 14905, 11525,
       11471, 11111, 14633, 11447, 11203, 13241, 12511, 11067, 10268,
       13184, 10141, 13541, 14150, 15027, 14109, 15048, 14006, 10739,
       14520, 11617, 14487, 11867, 14674, 14543, 10577, 10170, 11577,
       14709, 14711, 12255, 10165, 10918, 15401, 15497, 12265, 14254,
       10581, 12016, 15070, 11503, 13459, 13970, 14222, 14025, 13502,
       '15841', '13344', '15991', '10754', '14256', '13873', '11097',
       '10926', '11695', '11905', '15027', '13933', '10170', '10333',
       '14222', '14025', '13502', '15497', '12265'], dtype=object)

In [66]:
# Visualize the origin airport count
origin_counts = df['ORIGIN_AIRPORT'].value_counts().reset_index()
origin_counts

    ORIGIN_AIRPORT   count
0              ATL  343506
1              ORD  276554
2              DFW  232647
3              DEN  193402
4              LAX  192003
..             ...     ...
924          11503       1
925          14025       1
926          13502       1
927          15497       1
928          12265       1

[929 rows x 2 columns]

In [67]:
# Count total rows with numeric origin airports
num_numeric_rows = df['ORIGIN_AIRPORT'].astype(str).str.isnumeric().sum()

print(f"Total flights with numeric origin airport codes: {num_numeric_rows}")

Total flights with numeric origin airport codes: 482878

In [68]:
# drop numeric origin airports
df = df[~df['ORIGIN_AIRPORT'].astype(str).str.isnumeric()]
df

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,...,AIRLINE_EV,AIRLINE_F9,AIRLINE_HA,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_US,AIRLINE_VX,AIRLINE_WN
0,1,1,4,ANC,SEA,5,2354.0,-11.0,205.0,1448,...,False,False,False,False,False,False,False,False,False,False
1,1,1,4,LAX,PBI,10,2.0,-8.0,280.0,2330,...,False,False,False,False,False,False,False,False,False,False
2,1,1,4,SFO,CLT,20,18.0,-2.0,286.0,2296,...,False,False,False,False,False,False,False,True,False,False
3,1,1,4,LAX,MIA,20,15.0,-5.0,285.0,2342,...,False,False,False,False,False,False,False,False,False,False
4,1,1,4,SEA,ANC,25,24.0,-1.0,235.0,1448,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,12,31,4,LAX,BOS,2359,2355.0,-4.0,320.0,2611,...,False,False,False,False,False,False,False,False,False,False
5819075,12,31,4,JFK,PSE,2359,2355.0,-4.0,227.0,1617,...,False,False,False,False,False,False,False,False,False,False
5819076,12,31,4,JFK,SJU,2359,2350.0,-9.0,221.0,1598,...,False,False,False,False,False,False,False,False,False,False
5819077,12,31,4,MCO,SJU,2359,2353.0,-6.0,161.0,1189,...,False,False,False,False,False,False,False,False,False,False
5819078,12,31,4,JFK,BQN,2359,14.0,15.0,221.0,1576,...,False,False,False,False,False,False,False,False,False,False

In [69]:
# Count total rows with numeric origin airports
num_numeric_rows = df['DESTINATION_AIRPORT'].astype(str).str.isnumeric().sum()

print(f"Total flights with numeric destination airport codes: {num_numeric_rows}")

Total flights with numeric destination airport codes: 0

In [70]:
# mapping city , state and lang and lat to the main dataframe for the origin airport and destination airport
df = df.merge(airportData[['IATA_CODE', 'CITY', 'STATE', 'LATITUDE', 'LONGITUDE']], left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='left')
df = df.merge(airportData[['IATA_CODE', 'CITY', 'STATE', 'LATITUDE', 'LONGITUDE']], left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='left', suffixes=('_origin', '_destination'))

In [71]:
df

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,...,IATA_CODE_origin,CITY_origin,STATE_origin,LATITUDE_origin,LONGITUDE_origin,IATA_CODE_destination,CITY_destination,STATE_destination,LATITUDE_destination,LONGITUDE_destination
0,1,1,4,ANC,SEA,5,2354.0,-11.0,205.0,1448,...,ANC,12,0,61.17432,-149.99619,SEA,266,50,47.44898,-122.30931
1,1,1,4,LAX,PBI,10,2.0,-8.0,280.0,2330,...,LAX,173,5,33.94254,-118.40807,PBI,295,9,26.68316,-80.09559
2,1,1,4,SFO,CLT,20,18.0,-2.0,286.0,2296,...,SFO,255,5,37.61900,-122.37484,CLT,53,28,35.21401,-80.94313
3,1,1,4,LAX,MIA,20,15.0,-5.0,285.0,2342,...,LAX,173,5,33.94254,-118.40807,MIA,187,9,25.79325,-80.29056
4,1,1,4,SEA,ANC,25,24.0,-1.0,235.0,1448,...,SEA,266,50,47.44898,-122.30931,ANC,12,0,61.17432,-149.99619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231125,12,31,4,LAX,BOS,2359,2355.0,-4.0,320.0,2611,...,LAX,173,5,33.94254,-118.40807,BOS,37,20,42.36435,-71.00518
5231126,12,31,4,JFK,PSE,2359,2355.0,-4.0,227.0,1617,...,JFK,207,35,40.63975,-73.77893,PSE,234,40,18.00830,-66.56301
5231127,12,31,4,JFK,SJU,2359,2350.0,-9.0,221.0,1598,...,JFK,207,35,40.63975,-73.77893,SJU,257,40,18.43942,-66.00183
5231128,12,31,4,MCO,SJU,2359,2353.0,-6.0,161.0,1189,...,MCO,219,9,28.42889,-81.31603,SJU,257,40,18.43942,-66.00183
5231129,12,31,4,JFK,BQN,2359,14.0,15.0,221.0,1576,...,JFK,207,35,40.63975,-73.77893,BQN,4,40,18.49486,-67.12944

In [72]:
df.drop(columns=['IATA_CODE_origin', 'IATA_CODE_destination'], inplace=True, axis=1)
df

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,...,AIRLINE_VX,AIRLINE_WN,CITY_origin,STATE_origin,LATITUDE_origin,LONGITUDE_origin,CITY_destination,STATE_destination,LATITUDE_destination,LONGITUDE_destination
0,1,1,4,ANC,SEA,5,2354.0,-11.0,205.0,1448,...,False,False,12,0,61.17432,-149.99619,266,50,47.44898,-122.30931
1,1,1,4,LAX,PBI,10,2.0,-8.0,280.0,2330,...,False,False,173,5,33.94254,-118.40807,295,9,26.68316,-80.09559
2,1,1,4,SFO,CLT,20,18.0,-2.0,286.0,2296,...,False,False,255,5,37.61900,-122.37484,53,28,35.21401,-80.94313
3,1,1,4,LAX,MIA,20,15.0,-5.0,285.0,2342,...,False,False,173,5,33.94254,-118.40807,187,9,25.79325,-80.29056
4,1,1,4,SEA,ANC,25,24.0,-1.0,235.0,1448,...,False,False,266,50,47.44898,-122.30931,12,0,61.17432,-149.99619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231125,12,31,4,LAX,BOS,2359,2355.0,-4.0,320.0,2611,...,False,False,173,5,33.94254,-118.40807,37,20,42.36435,-71.00518
5231126,12,31,4,JFK,PSE,2359,2355.0,-4.0,227.0,1617,...,False,False,207,35,40.63975,-73.77893,234,40,18.00830,-66.56301
5231127,12,31,4,JFK,SJU,2359,2350.0,-9.0,221.0,1598,...,False,False,207,35,40.63975,-73.77893,257,40,18.43942,-66.00183
5231128,12,31,4,MCO,SJU,2359,2353.0,-6.0,161.0,1189,...,False,False,219,9,28.42889,-81.31603,257,40,18.43942,-66.00183
5231129,12,31,4,JFK,BQN,2359,14.0,15.0,221.0,1576,...,False,False,207,35,40.63975,-73.77893,4,40,18.49486,-67.12944

In [73]:
df["ORIGIN_AIRPORT"] = df["ORIGIN_AIRPORT"].astype('category').cat.codes
df["DESTINATION_AIRPORT"] = df["DESTINATION_AIRPORT"].astype('category').cat.codes
df

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,...,AIRLINE_VX,AIRLINE_WN,CITY_origin,STATE_origin,LATITUDE_origin,LONGITUDE_origin,CITY_destination,STATE_destination,LATITUDE_destination,LONGITUDE_destination
0,1,1,4,17,277,5,2354.0,-11.0,205.0,1448,...,False,False,12,0,61.17432,-149.99619,266,50,47.44898,-122.30931
1,1,1,4,176,235,10,2.0,-8.0,280.0,2330,...,False,False,173,5,33.94254,-118.40807,295,9,26.68316,-80.09559
2,1,1,4,278,66,20,18.0,-2.0,286.0,2296,...,False,False,255,5,37.61900,-122.37484,53,28,35.21401,-80.94313
3,1,1,4,176,203,20,15.0,-5.0,285.0,2342,...,False,False,173,5,33.94254,-118.40807,187,9,25.79325,-80.29056
4,1,1,4,277,17,25,24.0,-1.0,235.0,1448,...,False,False,266,50,47.44898,-122.30931,12,0,61.17432,-149.99619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231125,12,31,4,176,39,2359,2355.0,-4.0,320.0,2611,...,False,False,173,5,33.94254,-118.40807,37,20,42.36435,-71.00518
5231126,12,31,4,166,248,2359,2355.0,-4.0,227.0,1617,...,False,False,207,35,40.63975,-73.77893,234,40,18.00830,-66.56301
5231127,12,31,4,166,285,2359,2350.0,-9.0,221.0,1598,...,False,False,207,35,40.63975,-73.77893,257,40,18.43942,-66.00183
5231128,12,31,4,193,285,2359,2353.0,-6.0,161.0,1189,...,False,False,219,9,28.42889,-81.31603,257,40,18.43942,-66.00183
5231129,12,31,4,166,42,2359,14.0,15.0,221.0,1576,...,False,False,207,35,40.63975,-73.77893,4,40,18.49486,-67.12944

In [74]:
def time_to_minutes(x):
    if pd.isnull(x):
        return None
    x = int(x)
    hours = x // 100
    minutes = x % 100
    return hours * 60 + minutes

time_columns = ['SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_ARRIVAL']
for col in time_columns:
    df[col] = df[col].apply(time_to_minutes)

In [75]:
# save the data
df.to_csv('../../data/processed/flights_final_processed.csv', index=False)

### Time To model

In [76]:
x = df.drop('ARRIVAL_DELAY', axis=1)
y = df['ARRIVAL_DELAY']

In [77]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
INPUT_DIM = 33    
UNITS = [512,256, 128, 64, 32]  
BATCH_SIZE = 1024
EPOCHS = 30
LR = 1e-3  
model = keras.Sequential()
model.add(layers.Input(shape=(INPUT_DIM,)))

for u in UNITS:
    model.add(layers.Dense(u, activation='relu'))


model.add(layers.Dense(1, activation='linear'))